{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <div class="perfil">
        <div class="top-side">
            <!--<img src="https://imagens.uhuu.com/imgs/12067-2000x580-gabriela-rocha.jpg" alt="">-->
        </div>
        <div class="center">
            <div id="draggable" class="dragme"></div>
            <img src="https://picsum.photos/270/203" alt="drag-and-drop image script" title="drag-and-drop image script" class="dragme">
        </div>
        <div class="right-side"></div>

        <!--
        <div class="card">
        <div class="bloco-do-avatar">
            <div class="profile-pic ">
                <div class="imagen">
                    <img src="{{ user.userprofileinfo.profile_pic.url }}" alt="foto perfil"/>
                </div>
                <canvas id="myPieChartOne" class="canvas"></canvas>
            </div>
        </div>
        <div class="label-name">
            <span>Ismael Eliabe</span>
            <p><i class="fas fa-map-marker-alt"></i> Brusque, Santa Catarina - Brasil</p>
            <div class="raters">
                <div class="approved-invites">
                    <span>50 Convites Aceitos</span>
                </div>
                <div class="rejected-invites">
                    <span>8 Convites Recusados</span>
                </div>
                <div class="people-recommend">
                    <span>19 Pessoas Recomendam</span>
                </div>
            </div>
        </div>
        <div class="menu-profile">
            <button style="padding-left: 20px;padding-right: 20px;">Sobre</button>
            <button style="padding-left: 20px;padding-right: 20px;">Eventos</button>
        </div>
    </div>
        <div class="sub-left">1</div>
        <div class="sub-feed">
            <div class="feed">
        <div class="criar-evento">

        </div>
        <div class="cartao-do-feed">
            <div class="menu-do-cartao"><i class="fas fa-ellipsis-h"></i></div>
            <section class="informacoes-sobre-evento">
                <div class="imagem-do-evento">
                    <img src="https://images.unsplash.com/photo-1575859981201-1b771392ecf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" alt="">
                </div>
                <div class="descricao-do-evento">
                    <span>Titulo do Evento</span>
                    <p>Lorem ipsum aoaoisaodsod djpjdpodp idw qjdd iuahsda awdfqrqw drqrwree <br> dwerwartgertryryrtyrtsywhryhrywr</p>
                </div>
            </section>
        </div>
        <div class="cartao-do-feed">
            <div class="menu-do-cartao"><i class="fas fa-ellipsis-h"></i></div>
            <section class="informacoes-sobre-evento">
                <div class="imagem-do-evento">
                    <img src="https://images.unsplash.com/photo-1575859981201-1b771392ecf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" alt="">
                </div>
                <div class="descricao-do-evento">
                    <span>Titulo do Evento</span>
                    <p>Lorem ipsum aoaoisaodsod djpjdpodp idw qjdd iuahsda awdfqrqw drqrwree.</p>
                </div>
            </section>
        </div>
    </div>
        </div>
        <div class="sub-right">3</div>
        -->
    </div>


{% endblock %}
